/* Color dans navbar */
.nav-item a{
    color:rgb(17, 203, 240);
}

/* Color dans navbar en hover */
.nav-item a:hover{
    color:rgb(19, 129, 144);
}

/* Color lorsque lien active */
.nav-link.active{
    color:white!important;
}

/* même chose dans le footer:hs */
.nav-item.active{
    color:white!important;
}

/* Color menu burger */
@media screen and (max-width: 1400px){
    .navbar-toggler{
    color:white!important;
    background-color:white!important;
}
}

/* Possibilité de bloquer la height des photos, mais fonctionne uniquement si la photo est en paysage et pas vertical */
/* .card .card-img-top{
    max-height:350px!important;
} */

/* Controle la height du commentaire en le passant ensuite a overflow-auto(scroll) */
.card p{
    max-height:350px!important;
}