/* .nav-item a.active-default{
    color:rgb(218, 38, 182);
} */

/* 1:bleu dev blog
2:bootstrap info */

.nav-item a{
    color:rgb(17, 203, 240);
}

.nav-item a:hover{
    color:rgb(19, 129, 144);
}

/* autre façon de faire la couleur sur les liens navbar actif..  */
.nav-link.active{
    color:white!important;
}

@media screen and (max-width: 1400px){
    .navbar-toggler{
        
    color:white!important;
    background-color:white!important;
}
}

/* .card .card-img-top{
    max-height:350px!important;
} */

.card p{
    max-height:350px!important;
}