/* Color navbar */
.nav-item a{
    color:rgb(17, 203, 240);
}

/* Color navbar hover */
.nav-item a:hover{
    color:rgb(19, 129, 144);
}

/* Color when active link*/
.nav-link.active{
    color:white!important;
}

/* Color menu burger */
@media screen and (max-width: 1400px){
    .navbar-toggler{
    color:white!important;
    background-color:white!important;
}
}

/* Control height of comment and transform into overflow-auto(scroll) */
.card p{
    max-height:300px!important;
}

